<div class="container">
    <!-- Begin Menu container -->
    <h2 class="title is-2 is-white has-text-centered">Menu</h2>

    <div class="section is-small">

      <div class="box">
        <span class="tag is-light is-medium">
          A La Carte
        </span>
        <p class="is-pulled-right">
          Unless otherwise noted, all prices are for half trays
        </p>
        <hr>
      <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Appetizers</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }}{{ if eq .Params.type "appetizer"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
      <table class="table is-hoverable is-striped">
          <thead>
            <tr>
              <th>Salads</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }}{{ if eq .Params.type "salad"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Pastas</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }} {{ if eq .Params.type "pasta"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Entrees</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }} {{ if eq .Params.type "entree"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Sides</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }} {{ if eq .Params.type "side"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Desserts</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {{ range sort .Pages }} {{ if eq .Section "menu" }} {{ if eq .Params.type "dessert"}}
              <td>{{ .Title }}</td>
              <!-- <td>{{ .Description }}</td> -->
              <td>${{ .Params.price }}</td>
            </tr>
          {{ end }} {{ end }} {{ end }}
          </tbody>
      </table>
    </div>
    </div>
</div>
<!-- End Dishes container -->



<div class="container has-text-centered top-pad">
    <a href="#top">
        <i class="fa fa-arrow-up"></i>
    </a>
</div>
